# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Dataset files
data/*.csv

# Trained models
models/*.joblib
models/*.pkl

# Generated logs
*.log